.container {
    height: 68vh;
    width: 50vw;
    margin: auto;
    border: 3px solid blue;
}

h1 {
    text-align: center;
}

form {
    padding: 0px 59px;
}

.grp1 input {
    height: 30px;
    width: 267px;
}

.email {
    width: 614px;
}

.grp1 span {
    position: relative;
    left: 37px;
}

.grp1 {
    display: grid;
    grid-gap: 30px;
}

.input5 {
    eight: 37px;
    font-size: 21px;
    padding: 21px 0px;
}

select {
    height: 37px;
    width: 290px;
    font-size: 18px;
    padding: 0px 17px;
    position: relative;
    left: 37px;
}

.input6 {
    font-size: 20px;
    height: 40px;
}

.ram{
    height: 41px;
    width: 191px;
    background: blue;
    color: white;
    border: 2px solid black;
    border-radius: 9px;
    position: relative;
    left: 258px;
}